In [12]:
import pandas as pd
import os

# Let's load the data for the first time
df = pd.read_pickle(os.path.join('_datasets', 'data_frame.pickle'))
df.head()

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922.0,394,419,mm
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922.0,311,213,mm
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785,1922.0,343,467,mm
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,1922.0,318,394,mm
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826,1919.0,243,335,mm

In [5]:
df.artist
artists = df['artist']
pd.unique(artists)
len(pd.unique(artists))

3336

In [7]:
s = df['artist'] == 'Bacon, Francis'
s.value_counts()

False    69151
True        50
Name: artist, dtype: int64

In [8]:
artist_counts = df['artist'].value_counts()
artist_counts['Bacon, Francis']

50

In [10]:
# Demo 3
df.loc[1035, 'artist']
df.iloc[0, 0]
df.iloc[0, :]
df.iloc[0:2, 0:2]

             artist                                              title
id
1035  Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1036  Blake, Robert  Two Drawings of Frightened Figures, Probably f...

In [18]:
# Try multiplication
# df['height'] * df['width']
df['width'].sort_values().head()
# df['width'].sort_values().tail()

id
20822            (1):
105337    (diameter):
98671         (each):
76420         (each):
91391        (image):
Name: width, dtype: object

In [20]:
# Try to convert
# pd.to_numeric(df['width'])

In [21]:
# Force NaNs 
pd.to_numeric(df['width'], errors='coerce')

id
1035       394.0
1036       311.0
1037       343.0
1038       318.0
1039       243.0
1040       240.0
1041       242.0
1042       246.0
1043       241.0
1044       243.0
1045       236.0
1046       184.0
1047       197.0
1048       197.0
1049       200.0
1050       198.0
1051       198.0
1052       198.0
1053       199.0
1054       198.0
1055       198.0
1056       197.0
1057       200.0
1058       198.0
1059       191.0
1060       200.0
1061       186.0
1062       200.0
1063       198.0
1064       197.0
           ...
121196     558.0
121197     380.0
121198     560.0
115637       NaN
115638       NaN
122545    2093.0
120104       NaN
121565       NaN
116157       NaN
117761       NaN
115217       NaN
122537       NaN
120527       NaN
127128     368.0
127129     705.0
127130     408.0
127131     410.0
121283       NaN
129068      57.0
117863       NaN
120549       NaN
123620     810.0
122900       NaN
122958     305.0
122959     305.0
122960     305.0
122961     305.0
121181      45.0
112306       NaN
127035     508.0
Name: width, Length: 69201, dtype: float64

In [22]:
df.loc[:, 'width'] = pd.to_numeric(df['width'], errors='coerce')

In [23]:
pd.to_numeric(df['height'], errors='coerce')
df.loc[:, 'height'] = pd.to_numeric(df['height'],
                                    errors='coerce')

In [25]:
df['height'] * df['width']

id
1035       165086.0
1036        66243.0
1037       160181.0
1038       125292.0
1039        81405.0
1040        81120.0
1041        80828.0
1042        83640.0
1043        80735.0
1044        82620.0
1045        80240.0
1046        27600.0
1047        29747.0
1048        30141.0
1049        30400.0
1050        30096.0
1051        30294.0
1052        30294.0
1053        29850.0
1054        30096.0
1055        30096.0
1056        29944.0
1057        30200.0
1058        29898.0
1059        28650.0
1060        30200.0
1061        27900.0
1062        30200.0
1063        29700.0
1064        29550.0
            ...
121196     424080.0
121197     215080.0
121198     426720.0
115637          NaN
115638          NaN
122545    3514147.0
120104          NaN
121565          NaN
116157          NaN
117761          NaN
115217          NaN
122537          NaN
120527          NaN
127128      98256.0
127129     331350.0
127130      83640.0
127131     129970.0
121283          NaN
129068       3249.0
117863          NaN
120549          NaN
123620     935550.0
122900          NaN
122958      93025.0
122959      93025.0
122960      93025.0
122961      93025.0
121181     108450.0
112306          NaN
127035     335280.0
Length: 69201, dtype: float64

In [26]:
df['units'].value_counts()

mm    65860
Name: units, dtype: int64

In [27]:
# Assign - create new columns with size
area = df['height'] * df['width']
df = df.assign(area=area)

In [28]:
df['area'].max()
df['area'].idxmax()
df.loc[df['area'].idxmax(), :]

artist                               Therrien, Robert
title                No Title (Table and Four Chairs)
medium             Aluminium, steel, wood and plastic
year                                             2003
acquisitionYear                                  2008
width                                            8920
height                                          14850
units                                              mm
area                                      1.32462e+08
Name: 98367, dtype: object